$themeWordColor: rgba(50, 50, 50, 0.7);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: normal;
  font-family: "Palanquin Dark", sans-serif;
  color: $themeWordColor;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 5rem;

  header {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 3px solid #efefef;
      .logo {
        display: flex;
        align-items: center;
        a {
          font-size: 1.5rem;
          text-decoration: none;
          font-weight: bold;
          > i {
            margin-right: 5px;
          }
        }
      }

      .menu {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 1.3rem;
        font-weight: bold;

        li {
          padding: 0.8rem;
          text-align: center;

          a {
            text-decoration: none;
            display: block;
            padding: 10px 0;
          }
        }
      }

      .ham-bar {
        display: none;
        cursor: pointer;
        transition: all, 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: $themeWordColor;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  main {
    align-self: center;
    table {
      border-collapse: separate;
      border-spacing: 0 10px;
      text-align: center;
      font-size: 1.2rem;
    }

    th,
    td {
      padding: 1rem 2rem;
      width: 20vw;
    }

    td:nth-child(2),
    td:nth-child(3) {
      width: 80vw;
    }

    td:first-child {
      border-top-left-radius: 11px;
      border-bottom-left-radius: 11px;
    }

    td:last-child {
      border-bottom-right-radius: 11px;
      border-top-right-radius: 11px;
    }

    .work-type {
      td {
        background-color: rgba(255, 205, 56, 0.6);
      }
    }

    .study-type {
      td {
        background-color: rgba(133, 224, 163, 0.6);
      }
    }

    .exercise-type {
      td {
        background-color: rgba(255, 73, 73, 0.6);
      }
    }
    .delete-all-data {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .btn {
      border: none;
      background-color: Transparent;
      cursor: pointer;
      transition: all, 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
    .fa-trash-can {
      font-size: 20px;
    }
  }
}

// js historyData scaleDown
@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
@media screen and (max-width: 940px) {
  body {
    main {
      table thead {
        position: absolute;
        overflow: hidden;
        padding: 0;
        width: 1px;
        height: 1px;
      }

      td:first-child {
        border-bottom-left-radius: 0;
        border-top-right-radius: 11px;
      }

      td:nth-child(4) {
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px;
      }

      td:last-child {
        position: absolute;
        overflow: hidden;
        padding: 0;
        width: 1px;
        height: 1px;
      }

      table tr {
        display: block;
        margin-bottom: 0.625em;
      }

      table td {
        display: block;
        font-size: 1.2rem;
        text-align: right;
        width: 80vw;
      }

      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 630px) {
  body {
    padding: 0.5rem 1.5rem;

    header {
      padding-top: 20px;
      nav {
        .logo {
          a {
            font-size: 2rem;
          }
        }
        .ham-bar {
          display: block;
        }

        .ham-bar.active .bar:nth-child(2) {
          opacity: 0;
        }

        .ham-bar.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        .ham-bar.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
        .menu {
          position: fixed;
          left: -100%;
          top: 5.5rem;
          flex-direction: column;
          width: 100%;
          border-radius: 10px;
          text-align: center;
          transition: 0.3s;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          background-color: rgba(255, 255, 255, 0.9);
          li {
            transition: all, 0.3s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }

        .menu.active {
          left: 0;
        }
      }
    }
  }
}
